@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:wght@400;600;700&family=Praise&display=swap');
*{
	margin: 0;
	padding: 0
	;
}
body{
	font-family: 'Montagu Slab', serif;
	font-weight: 400;
	font-size: 1rem;
}
.fontsizeBold{
	font-weight:600;
}
#padre{
	display: grid;
	grid-gap: 15px;
	width: 100%;
	grid-template-areas:
	"header"
	"inicio"
	"footer"
}
/*HEADER*/
#header{
	grid-area: header;
	background-color: white;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	border: 1px solid;
	padding: 0 15px;
}
#header .logo img{
	width: 150px;
	border-radius: 25%;
	border: 2px solid white;
	box-sizing: border-box;
	padding: 5px;
}

.menu a{
 	display: inline-block;
	text-decoration: none;
	color: black;
	margin: 3px ;
	padding: 3px;
	}
.active a{
	color: grey;
}
/*INICIO*/
#inicio{
	grid-area: inicio;
	min-height: 500px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.bgImageFullScreen{
	height: 100%;
	width: 100%;
	background-image: url('../assets/estetica.jpg.jpg') ;
	background-position: center;
	background-size: cover;
}
#inicio .titulo{
	position: absolute;
	top: 400px;
	font-family: 'Praise', cursive;
	font-size: 2.5rem;
	font-weight: 500;
	text-align: center;
}
#inicio .boton{
	position: absolute;
	top: 600px;
}
#inicio .boton a{
	text-decoration: none;
	color: black;
	background-color: lightblue;
	border-radius: 25%;
	font-size: 1.5rem;
	}

/*FOOTER*/	
#footer{
	grid-area: footer;
	background-color: lightblue;
	height: 100px;
	width: 100%;
	color: black;
	font-size: 1rem;
}
#footer .redes ul{
	list-style-type: none;
}
#footer .redes a{
	color: black;
	text-decoration: none;
}


/*CONTACTO*/
#padre2{
	display: grid;
	width: 100%;
	grid-template-areas:
	"header"
	"formulario"
	"footer"
}

#formulario{
	grid-area: formulario;
	background-color:#4ed9cb;
	padding: 5px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	
}
.formularioTitulo p{
	font-size: 1.5rem;
	color: white;
	font-weight: 600;
}
.clasePiloto{
	display: inline-block;
	padding: 10px;
	width: 400px;
	height: 20px;
	border: 2px solid;
}

.mensaje textarea{
	display: inline-block;
	padding: 10px;
	width: 400px;
	height: 100px;
	border: 2px solid;
}
.botonEnviar{
	width: 400px;
	height: 20px;
	border: 2px solid
}
#iframe{
	margin-top: 10px;
}
/*NOSOTROS*/
.contenedor{
	display: grid;
	width: 100%;
	grid-gap: 15px;
	grid-template-areas:
	"header"
	"nosotros"
	"footer"
}
#nosotros{
	grid-area:nosotros ;
	display: flex;
	flex-direction:column;
	width: 100%;
	min-height: 500px;
	background-color: #dddcda;
	align-items: center;
}
#nosotros .img{
	display: none;
}
#nosotros .titulo p{
	font-family: 'Praise', cursive;
	font-size: 2.5rem
}
#nosotros .titulo span{
	font-size: 1rem;
}
#nosotros .uno{
	color:#258a80;
}
	
#nosotros{
	font-size: 1.5rem;
}
#nosotros .parrafo{
	font-size: 17px;
	display: inline-block;
	padding: 15px;
}

/*SERVICIOS*/
.contenedorServicios{
	display: grid;
	width: 100%;
	grid-gap: 15px;
	grid-template-areas:
	"header"
	"servicios"
	"footer"
}
.contenidoServicios{
	grid-area: servicios;
	display: flex;
	flex-direction: column;
	min-width: 300px;
	max-width: 100%;
	padding: 15px;
	align-items: center;
	background-color: #eff6f9;
}
.contenidoServicios .titulo{
	padding: 10px;
}
.contenidoServicios .titulo p{
	text-align: center;
	font-size: 2rem;
	color: #258a80;
}
.contenidoServicios .servicioUno{
	border: 2px solid;
	border-radius: 25%;
	padding: 25px;
	display: flex;
	margin-bottom: 5px;
}
.contenidoServicios .servicioDos{ 
	border: 2px solid;
	border-radius: 25%;
	padding: 25px;
	display: flex;
	margin-bottom: 5px
}
.contenidoServicios .servicioDos img{
	width: 150px;
	padding: 31px 14px 0 0;;
}
.contenidoServicios .servicioTres{
	border: 2px solid;
	border-radius: 25%;
	padding: 25px;
	display: flex;
}
.contenidoServicios .servicioTres img{
	width: 150px;
	padding: 31px 14px 0 0;;
}
/*PROMOCIONES*/
.contenedorPromo{
	display: grid;
	width: 100%;
	grid-gap: 15px;
	grid-template-areas:
	"header"
	"promo"
	"footer"
}
.promociones{
	width: 100%;
	
}
.contenidoPromo{
	grid-area: promo;
	display: flex;
	flex-direction: column;
	min-width: 300px;
	max-width: 100%;
	align-items: center;
	padding: 35px;
	background-color: #eff6f9;
}
.promoUno{
	height:400px ;
	min-width: 200px;
	max-width: 100%;
	background-color: lightblue;
	border: 2px solid;
	margin: 5px;
	text-align: center;
	padding: 15px;
}
.promoUno a{
	text-decoration: none;
	color: black;
	border: 1px solid;
	padding: 2px;
	margin: 5px;

}
.promoDos{
	height:400px ;
	min-width: 200px;
	max-width: 100%;
	background-color: lightblue;
	border: 2px solid;
	margin: 5px;
	text-align: center;
	padding: 15px;
}
.promoDos a{
	text-decoration: none;
	color: black;
	border: 1px solid;
	padding: 2px;
	margin: 5px;
}
.promoTres{
	height:400px ;
	min-width: 200px;
	max-width: 100%;
	background-color: lightblue;
	border: 2px solid;
	margin: 5px;
	text-align: center;
	padding: 15px;	
}
.promoTres a{
	text-decoration: none;
	color: black;
	border: 1px solid;
	padding: 2px;
	margin: 5px;
}


/*Mediaqueris tablet*/
@media all and (min-width: 768px){
body{
	font-size: 1.5rem;
	}
#header{
	flex-direction: row;
	height: 110px;
	align-items: center;
}
#header .menu{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.bgImageFullScreen{
	height: 100vh;
}
#inicio .titulo{
	top: 250px;
	font-size: 3rem;
}
#inicio .boton{
	top: 400px;
}	
#inicio .boton a{
	font-size: 1.5rem;
}
#footer{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	font-size: 1.25rem;
	height: 80px;
}
#footer .copyright{
	margin: 5px;
	padding: 5px;
}
#footer .redes ul{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: 5px;
}
#footer .redes ul li{
	padding: 5px;
}	
#nosotros .img{
	display: none;
}
}

/*MEDIAQUERIS DESKTOP*/

@media all and (min-width: 980px){
#header{
	height: 100px;
}
#header:hover{
	height: 120px;
	background-color: lightblue;
}	
#header .logo img{
	width: 200px;
	height: 100px;
	margin: 5px;
}
@keyframes zoom {
	from{
		transform: scale(1,1);
	}
	to{
		transform: scale(1.1,1.1);
	}
}
.bgImageFullScreen{
	animation-name: zoom;
	animation-timing-function: linear;
	animation-delay: 0;
	animation-duration: 7s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
#inicio{
	height: auto;
	overflow: hidden;
}
#inicio .titulo{
	font-size: 3.5rem;
}	
#inicio .boton a{
	font-size: 2rem;
}
#inicio .boton a:hover{
	color: white;
	background-color: black;
	transform: scale(1.1);
	}
#footer{
	font-size: 1.25rem;
}
#formulario{
	height: ;
	width: 100%;
	display: grid;
  	grid-template-columns: repeat(2, 1fr);
  	gap: 15px;
  	grid-template-areas:
    "titulo iframe"
    "formulario iframe"
}
.formularioTitulo{
	grid-area: titulo;
}
.formularioContacto{
	grid-area: formulario;
}
#iframe{
	grid-area: iframe;
}
#iframe div p{
	margin: 10px;
	font-size: 15px;
}
#nosotros .img{
	display: inline-block;
}
#nosotros .titulo p{
	font-size: 4rem;
}
#nosotros .titulo span{
	font-size: 2rem;
}
#nosotros .cajaNosotros{
	display: flex;
	flex-direction: row;
	max-width: 1300px;
}
#nosotros .cajaNosotros .parrafo{
	width: 50%;
	font-size: 1.5rem;
}
#nosotros .cajaNosotros .img img{
	width: 650px;
}

.contenidoServicios{
	display: grid;
	grid-gap: 15px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-areas: 
	". titulo ." 
	"servicio1 servicio2 servicio3"

}
.contenidoServicios .titulo{
	grid-area: titulo;
}
.contenidoServicios .servicioUno{
	grid-area: servicio1;
	display: inline-block;
	border: none;
}
.contenidoServicios .servicioUno .descripcionUno{

}
.contenidoServicios .servicioDos{
	grid-area: servicio2;
	display: inline-block;
	border: none;
}
.contenidoServicios .servicioTres{
	grid-area: servicio3;
	display: inline-block;
	border: none;
}
.promociones{
	display: flex;
	flex-direction:row ;
	justify-content: space-evenly;
}
.promoUno{
	height:400px ;
	width: 300px
	}
.promoDos{
	height:400px ;
	width: 300px;
	
}
.promoTres{
	height:400px ;
	width: 300px;
		
}	
}




/*UTILIDADES*/
.listNone{
	list-style-type: none;
}