@import url("https://fonts.googleapis.com/css2?family=Montagu+Slab:wght@400;500;600;700&family=Oswald:wght@300;400;700&display=swap");
body {
  font-family: 'Montagu Slab', serif;
  font-weight: 400;
  font-size: 1rem;
}

.bgNav {
  background: lightblue;
  opacity: 0.9;
  font-size: 20px;
}

@media all and (min-width: 992px) {
  .bgNav {
    background: #c3e8ff;
    opacity: 0.7;
    height: 120px;
  }
  .bgNav:hover {
    background: lightblue;
    opacity: 0.9;
    font-size: 24px;
  }
}

.bgNav img {
  width: 100px;
  border-radius: 25%;
  border: 2px solid white;
  box-sizing: border-box;
  padding: 5px;
}

#footer {
  color: black;
  min-height: 120px;
  background: lightblue;
  opacity: 0.9;
  font-size: 1.3rem;
}

#footer ul {
  list-style-type: none;
}

#footer a {
  color: black;
  text-decoration: none;
}

.inicio {
  min-height: 400px;
}

.inicio .mytitles {
  font-weight: 700;
  font-family: oswald;
  font-size: 3rem;
}

@media all and (min-width: 992px) {
  .inicio .btn-info:hover {
    transform: scale(1.1);
  }
}

#fondoIndex {
  background-image: url("../assets/estetica.jpg.jpg");
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}

#fondoContacto {
  background-image: url("../assets/fondoformulario.jpg.webp");
  min-height: 120vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}

#fondoContacto .mytitles {
  font-weight: 600;
  font-family: oswald;
  font-size: 2.5rem;
}

#fondoContacto .iframe {
  width: 400px;
}

@media all and (min-width: 992px) {
  #fondoContacto .iframe {
    width: 600px;
  }
}

#fondoServicios {
  min-height: 100vh;
  width: 100%;
  background-image: url("../assets/imagenparaservicio.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}

#fondoServicios .mytitles {
  font-weight: 600;
  font-family: oswald;
  font-size: 3rem;
  text-align: center;
}

#fondoServicios .mySubtitles {
  font-size: 1rem;
  text-align: center;
  font-weight: 700;
}

#fondoServicios .descripcion {
  font-size: 1rem;
  text-align: center;
  font-weight: 400;
}

.imgService {
  width: 150px;
  padding: 31px 14px 0 0;
  border: 2px solid;
  border-radius: 30%;
  background: white;
}

@media all and (min-width: 992px) {
  .imgService:hover {
    transform: scale(1.1);
    background: lightblue;
  }
}

#fondoPromo {
  min-height: 120vh;
  width: 100%;
  background-image: url("../assets/fondopromo.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}

#fondoPromo .mytitles {
  font-weight: 500;
  font-family: oswald;
  font-size: 3rem;
  text-align: center;
}

.boxPromo {
  height: 330px;
  background: white;
}

@media all and (min-width: 992px) {
  .boxPromo {
    height: 550px;
  }
  .boxPromo:hover {
    transform: scale(1.1);
  }
  .boxPromo .titulo1 {
    margin: 2rem 0 4rem 0;
  }
  .boxPromo .items1 {
    margin-bottom: 3rem;
  }
  .boxPromo .sesiones1 {
    margin-bottom: 3rem;
  }
  .boxPromo .titulo2 {
    margin: 2rem 0 4rem 0;
  }
  .boxPromo .items2 {
    margin-bottom: 4.5rem;
  }
  .boxPromo .sesiones2 {
    margin-bottom: 3rem;
  }
  .boxPromo .titulo3 {
    margin: 2rem 0 4rem 0;
  }
  .boxPromo .items3 {
    margin-bottom: 6rem;
  }
  .boxPromo .sesiones3 {
    margin-bottom: 3rem;
  }
}

.boxPromo .itemPromo {
  list-style-type: none;
  font-weight: 400;
}

#fondoPromo .priceBoton {
  text-decoration: none;
}

#fondoNosotros {
  background: #d5d4cf;
}

#fondoNosotros .mytitles {
  font-weight: 500;
  font-size: 2.5rem;
}

#fondoNosotros .mySubtitles {
  font-weight: 500;
  font-size: 1.5rem;
}

.imagenNosotros {
  height: 758px;
  max-width: 600px;
}
