
#fondoContacto{
	background-image: url('../assets/contactoprueba.jpg') ;
	min-height: 120vh;
	width: 100%;
	background-position: center;
	background-size: cover;
	position: relative;
	.mytitles{
		font-weight: map-get($miMap, semiBold);
		font-family: oswald;
		font-size:2.5rem;
	}
	.iframe{
		width: 400px;
		@media all and (min-width: $pointLg){
			width: 600px;
		}
	}
}
