.inicio{
	min-height: 400px;
	.mytitles{
		font-size:2.5rem;
	}
	@media all and (min-width: $pointLg){
		.btn-info:hover{
			transform: $trf;
		}
	}
}
	
#fondoIndex{
	height: 100vh;
	width: 100%;
	background-image: url('../assets/estetica.jpg.jpg') ;
	background-position: center;
	background-size: cover;
	position: relative;
}	