#fondoNosotros{
	background: #d5d4cf;
	.mytitles{
		font-weight: map-get($miMap, medium);
		font-size:2.5rem;
		}
	.mySubtitles{
		font-weight: map-get($miMap, medium);
		font-size: 1.5rem;
	}	
}
.imagenNosotros{
	height: 758px;
	max-width: 600px;
}