@mixin bgPrincipal($op ,$bg: $bgMain){
	background: $bg;
	opacity: $op;
}
@mixin mysubtitles($f, $t, $fw: 700){
	font-size: $f;
	text-align: $t;
	font-weight: $fw;
}
@mixin itemPromo($l:none, $fw: 400){
	list-style-type: $l;
	font-weight: $fw;
}